---
layout: default
---

<div class="page clearfix" index>
    <div class="left">
        <h1>Welcome to TK'S Blog!</h1>
        <small>这里记录着我的IT学习之路-兄弟会</small>
        <hr>
        <ul>
            {% for post in paginator.posts %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
                    </div>
                    <div class="label-card">
                        {% if post.author %}<i class="fa fa-user"></i>{{ post.author }}
                        {% endif %}
                    </div>
                    <div class="label-card">
                        {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
                    </div>

                    <div class="label-card">
                    {% include category.html %}
                    </div>

                    <div class="label-card">
                    {% include tag.html %}
                    </div>
                </div>
                <div class="excerpt">
                    {{post.excerpt}}
                </div>
                <div class="read-all">
                    <a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
                </div>
                <hr>
              </li>
            {% endfor %}
        </ul>



        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
          {% else %}
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
          <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
          {% else %}
            <span class="next disable"><i class="fa fa-angle-right"></i></span>
            <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
          {% endif %}
        </div>
    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <div class="right">
        <div class="wrap">
            <div class="side">
                <div>
                <body marginwidth="0" marginheight="0">
    <div id="player" style="width: 265px; height: 280px;">
        <div class="player">
            <div class="f-cb">
                <div class="cover">
                    <img id="cover" src="//p2.music.126.net/sIW25aly3sXxpqFy4Dz0vQ==/109951164090278558.jpg?param=90y90"></div>
                <div id="ctrl-box" class="ctrlBox" style="width: 155px;">
                    <h2 class="f-pr">
                        <i data-action="home" class="bg logo"></i>
                        <div id="title" class="title">天凯的博客音乐</div></h2>
                    <div id="bar" class="bar">
                        <div class="played j-flag" style="width: 1.93738%;">
                            <span class="bg thumb j-flag" id="auto-id-7la5Q4Uwh9N41dUm"></span>
                        </div>
                    </div>
                    <div class="oprBox">
                        <div id="time" class="time">- 00:00</div>
                        <div class="btnGroup f-cb">
                            <div id="prev" class="bg prev" data-action="prev"></div>
                            <div id="pause" class="bg mid pause f-hide" data-action="pause"></div>
                            <div id="play" class="bg mid play" data-action="play"></div>
                            <div id="next" class="bg next" data-action="next"></div>
                        </div>
                        <div class="bg open " data-action="open"></div>
                    </div>
                </div>
            </div>
            <div id="list" class="list" style="height: 190px;">
                <div class="box" style="height: 150px;">
                    <ul class="f-cb" id="list-box">
                        <li class="f-cb odd" data-action="playByIndex" data-index="0" style="width: 247px;">
                            <div class="cur"></div>
                            <div class="index">1</div>
                            <div class="name f-thide" title="春夏秋冬的你" style="width: 137.9px;">春夏秋冬的你</div>
                            <div class="by f-thide" style="width: 59.1px;">王宇良</div></li>
                        </ul>
                    <div class="track j-flag" id="auto-id-M6gEueS9lnM25UIa">
                        <div class="scroll j-flag" style="height: 30.3235px; display: block; top: 25px;"></div>
                    </div>
                </div>
                <div data-action="home" class="foot">
                    <div class="bg logo"></div>
                    <div class="yyy">网易云音乐</div>
                    <div class="slogan">500万曲库 首首CD音质</div></div>
            </div>
        </div>
    </div>
    <script src="//s3.music.126.net/web/s/core_9e9b99af208699597acb9713db08f168.js?9e9b99af208699597acb9713db08f168" type="text/javascript"></script>
    <iframe frameborder="0" id="auto-id-GUSvesQmyeKnQWOy" style="display: none;" src="https://mail.163.com/app/cloudmusic/proxy.html"></iframe>
    <script type="text/javascript" src="https://acstatic-dun.126.net/tool.min.js"></script>
    <script src="//s3.music.126.net/web/s/pt_outchain_player_5501d6a744aa7551447c0f6c8bf8a32e.js?5501d6a744aa7551447c0f6c8bf8a32e" type="text/javascript"></script>
    <script type="text/javascript">var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38766552-1'], ['_setLocalGifPath', '/UA-38766552-1/__utm.gif'], ['_setLocalRemoteServerMode']);
        _gaq.push(['_trackPageview']);
        //fix ipad下的一个bug
        if (navigator.userAgent.indexOf('iPad') != -1) {
            iframeHeight = Math.max(Math.max(document.body.scrollHeight, document.documentElement.scrollHeight), Math.max(document.body.offsetHeight, document.documentElement.offsetHeight), Math.max(document.body.clientHeight, document.documentElement.clientHeight));
            top.document.body.style.height = iframeHeight + 20 + 'px';
        }</script>
    <div>
        <div></div>
    </div>
</body>
                </div>
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Content -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
                <ul class="content-ul" cate>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <div class="side">
                <div>
                    <i class="fa fa-tags"></i>
                    Tags
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}

                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    Links
                </div>
                <ul  class="content-ul">

                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
